{% capture logo_path %}{{ site.logo }}{% endcapture %}


<script type="text/javascript">
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var r = document.querySelector(':root');
  function darkFunction() {
    // Get the checkbox
    var checkBox = document.getElementById("darkCheck");
    var rs = getComputedStyle(r);
    // Alert the value of the --blue variable
    // alert("The value of --blue is: " + rs.getPropertyValue('text-color'));
    var all = document.getElementsByTagName("*");
    var tab_links = document.getElementsByClassName("tablinks");
    
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      r.style.setProperty('background-color', 'black');
      document.body.style.color = "white"
      document.getElementById("site-nav").style.background = "black"

      color = "white"
      color_tab = "black"

    } else {
      document.body.style.color = "#40514e"
      r.style.setProperty('background-color', '#f3f6f6');
      document.getElementById("site-nav").style.background = "#f3f6f6"
      color = "#40514e"
      color_tab = "white"
    }

    setCookie("lights", checkBox.checked, 365)
    
    for (var i=0, max=all.length; i < max; i++) {
      all[i].style.color = color;
    }
    for (var i=0, max=tab_links.length; i < max; i++) {
      tab_links[i].style.color = color_tab;
    }
  }


  // var lights = getCookie("lights");
  // if (lights != ""){
  //   window.alert(lights)
  //   if(lights == "true"){
  //     var checkBox = document.getElementById("darkCheck");
  //     checkBox.checked = true
  //   }
  //   // checkBox.checked = Boolean(lights)
  //   // window.alert(checkBox.checked)
  //   // darkFunction()
  // }
</script>

<div class="masthead">

  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt=""></a>
        {% endunless %}
        <a id="site-title" class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item social-icons">
              <!-- <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a> -->
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.title }}</span></a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
          </svg>
        </button>
        {% endif %}
        
        <label id="lights-switch" class="switch">
          <input type="checkbox" id="darkCheck" onclick="darkFunction()"> 
          <span class="slider round" ></span> 
          
        </label>
        <a id="lights-label" style="margin-left: 2px;">Lights</a>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<!-- Persistent colormode -->
<script type="text/javascript">

  var lights = getCookie("lights");
  if (lights != ""){
    // window.alert(lights)
    if(lights == "true"){
      var checkBox = document.getElementById("darkCheck");
      checkBox.checked = true
      darkFunction()
    }
    // checkBox.checked = Boolean(lights)
    // window.alert(checkBox.checked)
  }
</script>
